/* Para navegadores basados en Webkit (Chrome, Safari, Edge) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    
}

* {
    padding: 0;
    margin: 0;
}

.Bienvenida {

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #212121;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    width: 100vw;
    height: 80vh;
}

body {
    overflow-x: hidden;
    background-color: #212121;
}

h1 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 4rem;
    line-height: 1.3;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;

    text-shadow:
        0 1px 0 #0c7ecb,
        0 2px 0 #0c7ecb,
        0 3px 0 #0c7ecb,
        0 4px 0 #0c7ecb,
        0 5px 0 #0c7ecb,
        0 6px 0 #0c7ecb,
        0 7px 0 #0c7ecb,
        0 8px 0 #0c7ecb,
        1px 15px 10px rgba(16, 16, 16, 0.3),
        1px 20px 20px rgba(16, 16, 16, 0.2),
        1px 25px 40px rgba(16, 16, 16, 0.2),
        1px 30px 80px rgba(16, 16, 16, 0.3);
}

.Integrales {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: #212121;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;

    padding: 3rem;
}

.integral1,
.integral2 {
    flex: 1 1 500px;

}

.contenedor h2 {

    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.contenedor p {
    margin-top: 50px;
    font-size: 3rem;
}

.formulario {
    margin-top: 5rem;

    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.formulario p {
    text-align: center;
}

.inputs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inputs input{
    height: 2rem;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
}

/*BOTON CALCULAR*/

/* From Uiverse.io by StealthWorm */
.btn, .btn2 {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    cursor: pointer;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),
        linear-gradient(137.48deg,
            #ffdb3b 10%,
            #fe53bb 45%,
            #8f51ea 67%,
            #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.none{
    display: none;
}

#container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}

strong {
    z-index: 2;
    font-family: "Avalors Personal Use";
    font-size: 12px;
    letter-spacing: 5px;
    color: #ffffff;
    text-shadow: 0 0 4px white;
}

#glow {
    position: absolute;
    display: flex;
    width: 12rem;
}

.circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}

.circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars , .btn2:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

.btn:hover , .btn2:hover{
    transform: scale(1.1);
}

.btn:active {
    border: double 4px #fe53bb;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

.btn:active .circle {
    background: #fe53bb;
}

#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}

#stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}

#stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}

#stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}

#stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}

@keyframes animStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-135rem);
    }
}

@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes gradient_301 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.tabla{
    display: flex;
    flex-wrap: wrap;
    
    margin-top: 5rem;
    width: 100%;
    justify-content: center;
}

table{
    color: #fff;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
}

thead{
    background: rgba(243, 140, 210, 0.4);
}

th{
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

td{
    padding: 15px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

tbody tr:hover{
    background: rgba(243, 103, 199, 0.4);
}
